.header {
  height: 64px;
  padding: 0 50px;
  line-height: 64px;
  background: #001529;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & .ant-menu-item,
  & .ant-menu-submenu {
    line-height: 64px;
  }
}

.logo {
  height: 32px;
  width: 123px;
  background: #c7c7c7;
}